.header {
  margin-top: 30px;
  height: 200px;
  width: 75%;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.background {
  display: flex;
  align-items: center;
  color: gray;
  justify-content: center;
  flex-direction: column;
}

.campeonato {
  height: 200px;
  width: 94%;
  background-color: #C0C0C0;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.result {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  height: 200px;
  width: 80%;
  margin-top: 2px;
  margin-bottom: 15px;
  background-color: white;
}

.numeracao{
    margin-left: 30px;
}

.header h5 {
  font-size: 14px;
  color: #D3D3D3;
}

.header h1 {
  font-weight: bold;
  font-size: 26px;
}

.header span {
  text-align: center;
  font-weight: 400;
}