.checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
}

.card {
  height: 80px;
  width: 240px;
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 4px;
  background-color: white;
}

.card div:last-child {
  display: flex;
  flex-direction: column;
}

.card-list {
  margin-top: 30px;
  height: 300px;
  width: 80%;
}

.card-list-grid {
  width: 75%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-list-header div {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button-area {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.select {
  color: white;
  display: inline-block;
  font-size: 20px;
  justify-content: space-between;
}

.div-button {
  display: flex;
  height: 40px;
  width: 87%;
  justify-content: flex-end;
  align-items: center;
}

.header {
  margin-top: 30px;
  height: 200px;
  width: 80%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.checkbox-area {
  display: flex;
}