<div class="button-area">
    <div class="select">
        <span> Selecionados <br> {{quantidadeDeFilmesSelecionados}} de 8 filmes</span>
    </div>

    <div class="div-button">
        <button type="submit" (click)="onSubmit()" class="button">Gerar Meu Campeonato</button>
    </div>
</div>

<div class="grid-container">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="col-md-3">
            <div class="">
                <div id="filmes" class="card-list-grid">
                    <div class="card" formArrayName="filmes" *ngFor="let item of getFilmesControls(); let i = index">
                        <div><label class="checkbox-area">
                                <input [formControl]="controleDeCheckbox" type="checkbox" [formControlName]="i">
                                <div>
                                    <strong>{{ filmes[i].titulo }}</strong>
                                    <label>{{filmes[i].ano}}</label>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>