.header {
    margin-top: 30px;
    height: 200px;
    width: 75%;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  