.header {
  margin-top: 30px;
  height: 200px;
  width: 75%;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.header h5 {
  font-size: 14px;
  color: #D3D3D3;
}

.header h1 {
  font-weight: bold;
  font-size: 26px;
}

.header span {
  text-align: center;
  font-weight: 400;
}
